@model EventosInformatica.Web.Models.Entities.City

@{
    ViewData["Title"] = "Create";
}


<div style="padding-top: 40px;" class="row">
        <div class="col-md-4 col-md-offset-4 centered">
            <div class="row">
                <br />
                <h4>Nueva Ciudad</h4>
                <br />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Slung" class="control-label"></label>
                        <input asp-for="Slung" class="form-control" />
                        <span asp-validation-for="Slung" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
