@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" style="width: 100%; height: auto; margin: 0 auto" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="height: 500px;  background: url('https://images.pexels.com/photos/3184183/pexels-photo-3184183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;">
            <!--<img src="" class="center-block" alt="ASP.NET" style=" width:100%; height: 400px; max-height: 400px;" />-->
            <div class="carousel-caption" role="option">
                <h3>Eventos en todas partes</h3>
                <!--<a class="btn btn-default" href="">Ver</a>-->
            </div>
        </div>
        <div class="item" style=" height: 500px;  background: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;">
            <div class="carousel-caption" role="option">
                <h3>Fiestas increibles</h3>
            </div>
        </div>
        <div class="item" style=" height: 500px; background: url('https://images.pexels.com/photos/745045/pexels-photo-745045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;">
            <div class="carousel-caption" role="option">
                <h3>Encuentros con tus amigos</h3>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br /><br />

      <div class="container marketing">
          <div class="row featurette">
              <div class="col-md-8">
                  <h2 class="featurette-heading">Agrega eventos. <span class="text-muted">Hay nuevos todos los días.</span></h2>
                  <p class="lead text-justify">
                      ¿Tienes planeado realizar un concierto? Puedes registrarlo para que todos lo vean y puedan asistir el día indicado.
                      Próximamente podras agregar requisitos para entrar o recomendaciones para pasar el momento de la mejor manera posible.
                  </p>
              </div>
              <div class="col-md-4">
                  <img width="400" height="300" alt="Responsive image" src="https://images.unsplash.com/photo-1556125574-d7f27ec36a06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
              </div>
          </div>

          <hr class="featurette-divider">

          <div style="margin-right: -50px;" class="row featurette">
              <div class="col-md-5">
                  <img width="450" height="300" alt="Responsive image" src="https://images.unsplash.com/photo-1560073743-0a45c01b68c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" />
              </div>
              <div class="col-md-7 text-right">
                  <h2>Lorem Ipsum. <span class="text-muted">Sed ut perspiciatis unde</span></h2>
                  <p class="lead text-justify">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
              <div class="col-md-8">
                  <h2 class="featurette-heading">Lorem Ipsum.<span class="text-muted">Sed ut perspiciatis unde</span></h2>
                  <p class="lead text-justify">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
              <div class="col-md-4">
                  <img width="400" height="300" alt="Responsive image" src="https://images.unsplash.com/photo-1510821733966-497ef399cacd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
              </div>
          </div>


          <hr class="featurette-divider">

      </div>s
